.sansserif{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: left;
}


  input[type=text] {
    width: auto;
    padding: 10px 50px;
    margin: 20px 45px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
  }


  input[type=password] {
    width: auto;
    padding: 10px 50px;
    margin: 8px 48px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
  }

  body {margin: 10px;}

  .footer {
    background-color: rgb(180, 179, 179);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }